/*BEGIN Fight Stick Controller Styling*/
.controller.fight-stick {
    background: url(https://raw.githubusercontent.com/RhektButler/FightStickOverlay/main/base2.svgz) center no-repeat;
    height: 534px;
    width: 1122px;
}

